/* teislides.css */
body {
	background: white;
	font-family: Helvetica;
	font-size: 24pt;
	color: black;
}

p {
	margin-top: 6px;
	margin-bottom: 6px;
}

li {
	margin-bottom: 6px;
	margin-top: 4px;
}

pre.eg {
	background: #ffffcc;
	padding: 6pt;
	font-style: roman;
	font-size: 16pt;
	color: blue margin-left: 1em;
	margin-top: 6pt;
	border-style: inset
}

div.docAuthor {
	padding: 12pt;
	font-size: 34pt;
	color: green;
}

div.docDate {
	padding: 12pt;
	font-size: 34pt;
	color: blue;
}

tr, p, ul, ol, li {
	font-size: 24pt;
}

p.box {
	background: blue;
	color: white;
	padding: 10pt;
	margin-left: 5%;
	font-size: 24pt;
	font-style: bold;
	margin-right: 5%;
	margin-top: 12pt;
	border-style: outset;
}

td {
	color: black;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}

pre, code, tt, Code {
	font-family: monospace;
	color: blue;
	font-size: 20pt;
}

tt.url {
	font-family: sans-serif;
}

h2 {
	margin-top: 24pt;
	font-size: 32pt;
	font-family: serif;
	color: green;
	background: white;
	text-align: center;
	border-width: 5pt;
	border-color: white;
	padding: 0pt;
	margin: 0pt;
}

ul, dl, ol {
	font-size: 24pt;
}

li.lower {
	font-style: normal;
}

blockquote {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
	/*    color: gray; */
	color: teal;
	text-align: justify;
	font-size: smaller;
}

address {
	font-style: normal;
	font-family: cursive;
	letter-spacing: .1em;
	font-size: x-small;
}

a:link {
	color: blue;
}

a:visited {
	color: navy;
}

a:active {
	color: purple;
	background: yellow;
}

a:hover {
	color: blue;
	background: silver;
}

.titlebar {
	color: white;
	background: navy;
}

div.slidemain {
	clear: both;
	height: 75%;
	border-top: 2px;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
	border-style: solid;
	border-color: blue;
	padding-left: 5%;
	padding-right: 5%;
}

div.slidebottom-text {
	font-style: italic;
	font-size: 12pt;
	float: right;
}

div.slidebottom-image {
	float: left;
}

div.slidebottom {
	clear: both;
	height: 2%;
	margin-top: 10pt;
	border-top: 2px;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
}

div.slidetop {
	padding-top: 2%;
}

div.slidetitle {
	height: 10%;
	float: left;
	color: red;
	font-size: 42pt;
	font-weight: bold;
	font-family: sans-serif;
	text-align: left;
	margin-bottom: 12pt;
	padding-left: 5%;
}

div.xref {
	height: 10%;
	float: right;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 12pt;
}

span.bottomright {
	float: right;
	margin-top: 0;
	margin-bottom: 8pt;
}

li.slidetoc {
	display: inline;
}

li.slidetoc:before {
	content: " * ";
	font-style: italic;
}

img.simple {
	border-style: none;
}

img.inline {
	border-style: none;
}

img.right {
	float: right
}

img.left {
	float: left
}

.button {
	font-family: Symbol;
	padding: 2px;
	font-style: bold;
	border-style: outset;
	background: blue;
	color: white;
}

a.xreflink:link {
	text-decoration: none;
}

a.xreflink:visited {
	text-decoration: none;
}