@charset "UTF-8";
/* CSS Document */

.main {
width: 94%;
}


.bandeau {
background-image:url(../images/Banniere.png);
width:520px;
height:60px;
position:relative;
left:53%;
margin-left:-260px;
-moz-border-radius:2em 0;
}

.bandeautext {
width:520px;
height:60px;
position:absolute;
color:#FFFFCC;
text-align:center;
font-size:180%;
font-style:italic;
font-family:Georgia;
top:50%;
margin-top:-0.5em;
}

.textzone{
width:100%;
position:relative;
float:left;
padding:3%;
font-family:Arial;
font-size:100%;
text-align:justify;
margin-bottom:50px;
background-image:url(../images/Background_BFM_essai.png);
background-repeat:repeat-y;
}

.cadre{
background:#CCCCCC;
border:dotted 1px;
-moz-border-radius:2em 2em;
padding:10px;
}

h1{
font-family:Georgia;
color:#990033;
font-size:115%;
}

.larger{
font-size:140%;
}

a {
text-decoration:none;
}

a:hover{
text-decoration:underline;
}

.bouton{
color:#0000FF;
font-weight:bold;
cursor:pointer;
/*background-color:#CECECE;
text-decoration:none;
padding:1px;*/
}

.bouton:hover{
/*color:#2A0000;
background-color:#BBD2E1*/
}

#SplashScreen {
	width: 700px;
	height: 400px;
	margin: 0px auto -1px auto; 
	font-family:Arial;
	color:#990033;
	text-align:center;
}

.valign {
    vertical-align: middle;
}