/* 
** Copyright 2008 TEI Consortium

$Id: tei-print.css 6500 2009-06-05 12:24:45Z rahtz $

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.
 This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
 You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the 
Free Software Foundation, Inc., 
59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

*/
@import url(stylesheet.css);

/* elements */

/* Use Helvetica by preference for most body text. Style hyperlinks with 
     color only. Use white-space:pre-wrap or equivalent for code blocks
     so text doesn't get cut off. */
a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

div.pre, div.pre_eg, pre.eg {
	font-family: courier, "Courier New", fixed, monospace;
	font-size: 9pt;
	/* see http://cheeaun.phoenity.com/weblog/2005/06/whitespace-and-generated-content.html
      for explanation of the white-space property cascade. pre-wrap is needed so long
      lines won't be cut off in print. When browser support for CSS 2.1 is solid, proprietary
      properties may be removed. */
	white-space: pre; /* CSS2 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

div.pre_eg, pre.eg {
	page-break-inside: avoid;
}

td {
	font-size: 10pt;
}

td.maintext, td.maintext p {
	font-family: Helvetica, Arial, sans-serif;
}

/* classes */
.plain {
	font-family: Helvetica, Arial, sans-serif;
}

div.pagebreak {
	page-break-before: always;
}