body {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 10px;
	padding-left: 10px;
	width: 600px;
}

table {
	border: medium solid black;
	border-collapse: collapse;
	width: 100%;
}

th {
	font-family: monospace;
	border: thin solid black;
	padding: 5px;
	background-color: #D0E3FA;
	background-image: url(sky.jpg);
}

td {
	font-family: sans-serif;
	border: thin solid black;
	width: 50%;
	padding: 5px;
	text-align: center;
	background-color: #ffffff;
}

h2 {
	
}

img {
	display: block;
	margin: 0 auto;
	padding: 5px;
}