body {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 10px;
	padding-left: 10px;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

td {
	padding: 5px;
}

.header {
	
}

.tuTitle {
	text-align: center;
}

.seg {
	
}

.note {
	color: red;
}