body {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 10px;
	padding-left: 10px;
}

.comment {
	font-style: italic;
	font-weight: normal;
}

.section {
	
}

.title {
	
}

.subtitle {
	
}

.transcription-table {
	
}

.section-desc {
	
}

.section-title {
	
}

.section-metadata {
	column-count: 2;
	-webkit-column-count: 2;
}

.section-secondary {
	column-count: 2;
	-webkit-column-count: 2;
}

.play-media {
	border: 2px solid;
	padding-right: 2px;
	padding-left: 2px;
	color:black;
}

.play-media:hover {
	background-color: #e7e7e7;
}

.turn {
	
}

.spk {
	font-variant: small-caps;
}

.event {
	font-style: italic;
}

b .event {
	font-style: italic;
	font-weight: normal;
}

.sync {
	vertical-align: super;
	font-weight: normal;
	font-size: 70%;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

td {
	padding: 5px;
}

h2 {
	text-align: center;
}