/*  
   Copyright © 2017 ENS de Lyon, CNRS, University of Franche-Comté
   Licensed under the terms of the GNU General Public License (http://www.gnu.org/licenses)
   @author cbourdot
   @author sheiden

   TXM default CSS 06-2017

*/
.txmeditionpage {
	background-color: #fdfdf9; /* use #f8f7ee for book style */
	font-family: ui-sans-serif, sans-serif; /* junicode for book style */
	font-size: 14px;
	text-indent: 0px;
	text-align: justify;
	box-shadow: .3125em .3125em .625em 0 #888;
	margin: 1.25em auto;
	padding: 1.25em;
	width: 600px; /* 400px for book style */
	min-height: 90vh;
}

.txmeditionpb {
	text-align: center;
}
.txmeditionpb::before {
	content: "- ";
}
.txmeditionpb::after {
	content: " -";
}

.txmeditioncb {
	display:block;
	text-align:center;
}
.txmeditioncb::before {
	content:'<col. ';
}
.txmeditioncb::after {
   content:'>'
}

.txmlettrinep:first-letter {
	float: left;
	font-size: 6em;
	line-height: 1;
	margin-right: 0.2em;
}

a {
	color: #802520;
}

h1 {
	font-size: 20px;
	font-variant: small-caps;
	text-align: center;
	color: #802520;
}

h2 {
	font-size: 18px;
	font-variant: small-caps;
	text-align: center;
	color: #802520;
}

h3 {
	font-size: 16px;
	font-variant: small-caps;
	text-align: center;
	color: #802520;
}

p {
	text-indent: 0.2cm;
	text-align: justify;
	text-justify: inter-word;
}

img {
	margin: 10px 10px 10px 10px;
}

.metadata {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.metadata-line {

}

.metadata-cell {

}

td[rend="table-cell-align-right"] {
	text-align: right;
}

td[rend="table-cell-align-left"] {
	text-align: left;
}

td[rend="table-cell-align-center"] {
	text-align: center;
}

/* collapsible objects styling */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  font-weight: bold;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsiblecontent {
  display: none;
  overflow: hidden;
}

/* styling of the footnote elements of the default XSL edition*/
.footnote {
    font-size:85%;
    display:block;
}

.reg {
	color:green;
}
.orig {
	color:red;
}
.corr {
	color:blue;
}
.sic {
	color:red;
}
.supplied::before {
	content:"[";
}
.supplied[part="F"]::before {
	content:"";
}
.supplied[part="M"]::before {
	content:"";
}
.supplied::after {
	content:"]";
}
.supplied[part="I"]::after {
	content:"";
}
.supplied[part="M"]::after {
	content:"";
}
.surplus::before {
	content:"(";
}
.surplus[part="F"]::before {
	content:"";
}

.surplus[part="M"]::before {
	content:"";
}
.surplus::after {
	content:")";
}
.surplus[part="I"]::after {
	content:"";
}
.surplus[part="M"]::after {
	content:"";
}
.add {
	color:blue;
	font-style: italic;
}
.del {
	color:red;
	font-style: italic;
}

.pop-up {
    position:absolute;
    margin-top:-23px;
    margin-left:-5px;
    background:rgba(180,180,180,.8);
    padding:5px;
    border-radius:3px;
    /*box-shadow:0 0 2px rgba(255,255,255,.2);*/
    transform:scale(0) rotate(-10deg);
    transition:all .3s;
    opacity:0;
}


*:hover~.pop-up, *:focus~.pop-up {
    transform:scale(1) rotate(0);
    opacity:1;
}
