.txmeditionpage {
	position: relative;
	color: #000000;
	background-color: #FFFFFF;
	margin-left: 15px;
	padding: 0;
	font-family: Junicode, Arial, Helvetica, sans-serif;
}

.editionpage {
	display: block;
	text-align: center;
	color: gray;
}

.editionpageverse {
	position: relative;
	left: -10px;
	page-break-before: always;
	color: gray;
	display: block;
	text-align: center;
}

.footnote {
	font-size: 75%;
	position: relative;
}

.footnotes {
	display: block;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;
	padding-top: 5px
}

.footnotenumber {
	position: absolute;
	left: -6ex;
	width: 4ex;
	text-align: right;
}

.head {
	color: #4B0082; /*indigo*/
	font-weight: bold;
}

/*.hyphen {}*/
.note, span.note {
	display: block;
	position: relative;
}

.note, span.note:before {
	content: ""
}

.note, span.note:after {
	content: ""
}

.noteinline {
	color: gray;
	font-size: 90%;
	font-style: italic;
	font-family: Times, serif;
}

.noteref {
	position: relative;
	top: -1.5ex;
	font-size: 50%;
}

.noteref+.noteref:before {
	content: ", "
}

.pagenumber {
	color: gray;
	font-size: 80%
}

.sp>p, .sp>.l {
	display: block;
	margin-left: 20px;
}

.speaker {
	display: block;
	font-weight: bold;
	color: gray;
}

.verseline {
	position: relative;
}

.verseline:before {
	content: " ";
}

.verselinenumber {
	position: absolute;
	left: -8ex;
	width: 5ex;
	top: 0.5ex;;
	font-size: 80%;
	text-align: right;
	color: gray;
}

/*.verseline:before {
position:absolute;
left:-50px;
top:-14px;
width:25px;
text-align:right;
color:gray;
content:attr(title);
}
*/